body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

#contacts-interface, #categories-interface, #messages-interface{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    padding: 10px
}
.menu-button,  .category-btn, .message-btn  {
    padding: 15px;
    margin: 10px;
    font-size: large;
    border: 2px solid #007bff;
    background-color: #ffffff;
    color: #007bff;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 90%;
    cursor: pointer;
}

.contact-btn{
    padding: 10px;
    color: darkgrey;

    text-align: center;
    font-size: large;
    border: 2px solid #59f7b0;
    border-radius: 10px;
    background-color: #4eadd0;
    background-image: linear-gradient(0deg,#4eadd0 0%, #59f7b0 100%);
    
}

.menu-button:focus, .category-btn:focus, .message-btn:focus, contact-btn:focus {
    outline: none;
    background-color: #e7f1ff;
    border-color: #0056b3;
    
}

#send-button {
    margin-top: 20px;
    background-color: #28a745;
    color: white;
}

#send-button:hover, #send-button:focus {
    background-color: #218838;
}

.selected-info-item {
    padding: 10px;
    background-color: #eef;
    border-left: 5px solid #007bff;
    margin: 5px 0;
}
